In [1]:
#Importing Libraries
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
import seaborn as sns
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

In [2]:
#reading Dataset
df = pd.read_csv("Cricket.csv",  sep = ',',encoding = "ISO-8859-1", header= 0)
df = df[['Player','SR','Ave']]
df.head()

                        Player     SR    Ave
0         SR Tendulkar (INDIA)  86.23  44.83
1  KC Sangakkara (Asia/ICC/SL)  78.86  41.98
2         RT Ponting (AUS/ICC)  80.39  42.03
3      ST Jayasuriya (Asia/SL)  91.20  32.36
4   DPMD Jayawardene (Asia/SL)  78.96  33.37