In [124]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("EDA_Gold_Silver_prices.csv")
df.info()
df.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 3 columns):
Month          241 non-null object
SilverPrice    241 non-null float64
GoldPrice      241 non-null float64
dtypes: float64(2), object(1)
memory usage: 5.7+ KB

     Month  SilverPrice  GoldPrice
0   Mar-97       186.48   12619.24
1   Apr-97       170.65   12338.59
2   May-97       170.44   12314.94
3   Jun-97       169.96   12202.78
4   Jul-97       155.80   11582.07
5   Aug-97       162.16   11640.38
6   Sep-97       172.13   11755.57
7   Oct-97       181.57   11769.89
8   Nov-97       187.99   11370.19
9   Dec-97       224.16   11324.79
10  Jan-98       230.08   11378.25
11  Feb-98       261.75   11576.23
12  Mar-98       243.81   11690.84
13  Apr-98       249.37   12225.02
14  May-98       225.54   12075.24
15  Jun-98       222.24   12349.86
16  Jul-98       232.46   12450.03
17  Aug-98       220.73   12142.73
18  Sep-98       213.74   12287.69
19  Oct-98       211.80   12531.16
20  Nov-98       211.21   12463.97
21  Dec-98       207.96   12412.18
22  Jan-99       219.44   12203.20
23  Feb-99       235.52   12203.06
24  Mar-99       220.61   12135.19
25  Apr-99       217.57   12075.25
26  May-99       226.61   11823.60
27  Jun-99       219.02   11272.20
28  Jul-99       226.31   11084.77
29  Aug-99       230.06   11155.98
30  Sep-99       229.82   11526.30
31  Oct-99       235.38   13502.09
32  Nov-99       225.32   12723.39
33  Dec-99       226.61   12309.24
34  Jan-00       227.98   12382.68
35  Feb-00       231.00   13077.75
36  Mar-00       222.37   12483.33
37  Apr-00       222.72   12205.39
38  May-00       221.88   12100.23
39  Jun-00       225.78   12769.55
40  Jul-00       224.71   12609.06
41  Aug-00       225.15   12541.03
42  Sep-00       226.92   12558.90
43  Oct-00       226.27   12515.53
44  Nov-00       220.78   12444.55
45  Dec-00       218.04   12690.44
46  Jan-01       218.83   12355.90
47  Feb-01       212.75   12181.90
48  Mar-01       205.10   12262.59
49  Apr-01       205.51   12186.79

In [4]:
df['SilverPrice'].corr(df['GoldPrice'])

0.9542559570539784

In [28]:
df['Month_Exact'], df['Year'] = df['Month'].str.split('-', 1).str
df.head()
df.info()
df.reset_index()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 5 columns):
Month          241 non-null object
SilverPrice    241 non-null float64
GoldPrice      241 non-null float64
Month_Exact    241 non-null object
Year           241 non-null object
dtypes: float64(2), object(3)
memory usage: 9.5+ KB

     index   Month  SilverPrice  GoldPrice Month_Exact Year
0        0  Mar-97       186.48   12619.24         Mar   97
1        1  Apr-97       170.65   12338.59         Apr   97
2        2  May-97       170.44   12314.94         May   97
3        3  Jun-97       169.96   12202.78         Jun   97
4        4  Jul-97       155.80   11582.07         Jul   97
5        5  Aug-97       162.16   11640.38         Aug   97
6        6  Sep-97       172.13   11755.57         Sep   97
7        7  Oct-97       181.57   11769.89         Oct   97
8        8  Nov-97       187.99   11370.19         Nov   97
9        9  Dec-97       224.16   11324.79         Dec   97
10      10  Jan-98       230.08   11378.25         Jan   98
11      11  Feb-98       261.75   11576.23         Feb   98
12      12  Mar-98       243.81   11690.84         Mar   98
13      13  Apr-98       249.37   12225.02         Apr   98
14      14  May-98       225.54   12075.24         May   98
15      15  Jun-98       222.24   12349.86         Jun   98
16      16  Jul-98       232.46   12450.03         Jul   98
17      17  Aug-98       220.73   12142.73         Aug   98
18      18  Sep-98       213.74   12287.69         Sep   98
19      19  Oct-98       211.80   12531.16         Oct   98
20      20  Nov-98       211.21   12463.97         Nov   98
21      21  Dec-98       207.96   12412.18         Dec   98
22      22  Jan-99       219.44   12203.20         Jan   99
23      23  Feb-99       235.52   12203.06         Feb   99
24      24  Mar-99       220.61   12135.19         Mar   99
25      25  Apr-99       217.57   12075.25         Apr   99
26      26  May-99       226.61   11823.60         May   99
27      27  Jun-99       219.02   11272.20         Jun   99
28      28  Jul-99       226.31   11084.77         Jul   99
29      29  Aug-99       230.06   11155.98         Aug   99
..     ...     ...          ...        ...         ...  ...
211    211  Oct-14      1052.92   74997.34         Oct   14
212    212  Nov-14       984.74   72491.16         Nov   14
213    213  Dec-14      1021.88   75291.99         Dec   14
214    214  Jan-15      1070.97   77715.80         Jan   15
215    215  Feb-15      1041.26   76113.23         Feb   15
216    216  Mar-15      1014.19   73605.25         Mar   15
217    217  Apr-15      1025.45   75236.65         Apr   15
218    218  May-15      1074.12   76484.80         May   15
219    219  Jun-15      1026.56   75451.46         Jun   15
220    220  Jul-15       958.06   71812.23         Jul   15
221    221  Aug-15       972.25   72746.31         Aug   15
222    222  Sep-15       976.67   74476.64         Sep   15
223    223  Oct-15      1029.04   75438.75         Oct   15
224    224  Nov-15       954.56   71759.82         Nov   15
225    225  Dec-15       938.00   71140.66         Dec   15
226    226  Jan-16       949.24   73882.06         Jan   16
227    227  Feb-16      1035.04   81857.57         Feb   16
228    228  Mar-16      1037.05   83496.73         Mar   16
229    229  Apr-16      1087.44   82572.44         Apr   16
230    230  May-16      1133.52   84340.04         May   16
231    231  Jun-16      1163.03   85878.28         Jun   16
232    232  Jul-16      1343.80   89845.32         Jul   16
233    233  Aug-16      1311.11   89707.71         Aug   16
234    234  Sep-16      1291.92   88540.40         Sep   16
235    235  Oct-16      1178.00   84533.34         Oct   16
236    236  Nov-16      1175.45   83622.54         Nov   16
237    237  Dec-16      1115.72   78583.48         Dec   16
238    238  Jan-17      1151.15   81191.05         Jan   17
239    239  Feb-17      1203.35   82818.17         Feb   17
240    240  Mar-17      1162.15   81169.45         Mar   17

[241 rows x 6 columns]

In [42]:
df1 = df.loc[df['Year'] == '08']
print(df1)

      Month  SilverPrice  GoldPrice Month_Exact Year
130  Jan-08       632.29   35025.78         Jan   08
131  Feb-08       701.87   36642.46         Feb   08
132  Mar-08       775.49   39082.77         Mar   08
133  Apr-08       700.96   36416.00         Apr   08
134  May-08       718.20   37435.38         May   08
135  Jun-08       729.63   38087.88         Jun   08
136  Jul-08       773.80   40256.56         Jul   08
137  Aug-08       625.97   36026.85         Aug   08
138  Sep-08       555.58   37815.02         Sep   08
139  Oct-08       507.20   39235.79         Oct   08
140  Nov-08       483.55   37284.82         Nov   08
141  Dec-08       501.82   39696.27         Dec   08

In [43]:
df1['SilverPrice'].corr(df1['GoldPrice'])

0.009583757463369372

In [46]:
df = pd.read_csv("currencies.csv")
df.head()

,Currency,Chinese Yuan,Euro,Japanese Yen,U.K. Pound Sterling,U.S. Dollar,Algerian Dinar,Australian Dollar,Bahrain Dinar,Botswana Pula,...,South African Rand,Sri Lanka Rupee,Swedish Krona,Swiss Franc,Thai Baht,Trinidad And Tobago Dollar,Tunisian Dinar,U.A.E. Dirham,Peso Uruguayo,Bolivar Fuerte
0,"July 01, 2016",9.29446,1.25367,143.645,1.05054,1.39596,NaN,1.87126,0.524882,NaN,...,20.3528,202.763,11.8246,1.36009,NaN,9.28428,3.06035,5.12668,NaN,13.9247
1,"July 05, 2016",9.31515,1.25322,142.715,1.06143,1.39684,154.063,1.85825,0.525213,15.2162,...,20.6240,202.886,11.7627,1.35689,49.0655,9.26724,NaN,5.12992,42.9026,13.9335
2,"July 06, 2016",9.31697,1.25834,140.540,1.07300,1.39286,154.094,1.87313,0.523717,15.2392,...,20.7232,NaN,11.8805,1.36208,49.0692,9.25643,NaN,5.11527,42.6425,13.8938
3,"July 07, 2016",9.31315,1.25737,140.640,1.06911,1.39316,153.957,1.85236,0.523829,15.1430,...,20.4288,202.351,11.9192,1.36098,49.0295,NaN,NaN,5.11637,42.4176,13.8968
4,"July 08, 2016",9.31350,1.25797,140.510,1.07261,1.39257,154.062,1.85974,0.523607,15.1202,...,20.6063,202.271,11.9327,1.36472,49.0408,9.26432,NaN,5.11423,42.2060,13.8909

In [49]:
pd.options.display.max_columns = None
df.corr().round(4)

,Chinese Yuan,Euro,Japanese Yen,U.K. Pound Sterling,U.S. Dollar,Algerian Dinar,Australian Dollar,Bahrain Dinar,Botswana Pula,Brazilian Real,Brunei Dollar,Canadian Dollar,Chilean Peso,Czech Koruna,Danish Krone,Hungarian Forint,Icelandic Krona,Indian Rupee,Israeli New Sheqel,Kazakhstani Tenge,Kuwaiti Dinar,Libyan Dinar,Malaysian Ringgit,Mauritian Rupee,Mexican Peso,Nepalese Rupee,New Zealand Dollar,Norwegian Krone,Rial Omani,Pakistani Rupee,Nuevo Sol,Philippine Peso,Polish Zloty,Qatar Riyal,Russian Ruble,Saudi Arabian Riyal,Singapore Dollar,South African Rand,Sri Lanka Rupee,Swedish Krona,Swiss Franc,Thai Baht,Trinidad And Tobago Dollar,Tunisian Dinar,U.A.E. Dirham,Peso Uruguayo,Bolivar Fuerte
Chinese Yuan,1.0000,0.1516,0.1176,0.1087,0.2916,0.8152,0.0780,0.2919,0.4677,0.3205,0.4994,-0.1866,0.0288,-0.0007,0.1901,0.0925,-0.0944,0.3041,0.4430,-0.3493,0.0511,NaN,0.2358,0.2735,0.5852,-0.0480,0.1584,0.0113,0.2917,0.8089,0.6901,0.1619,0.4158,0.2916,0.1841,0.2912,0.4994,0.3569,0.2961,-0.0448,-0.0694,0.5851,0.2159,0.5429,0.2913,0.4216,0.2922
Euro,0.1516,1.0000,-0.6457,0.5311,-0.2106,0.2600,0.3316,-0.2099,0.4697,0.3836,0.1038,0.6384,0.2427,0.9521,0.9976,0.5004,0.4096,0.2439,0.6433,-0.5223,-0.0296,NaN,0.4629,-0.1836,0.4062,0.2477,0.1693,0.8488,-0.2099,-0.7596,-0.4254,-0.3141,0.6097,-0.2101,0.3480,-0.2108,0.1038,0.3822,-0.2340,0.7566,0.2775,0.3703,-0.6215,0.2570,-0.2108,-0.0479,-0.2104
Japanese Yen,0.1176,-0.6457,1.0000,-0.9703,0.2103,-0.3881,-0.5820,0.2100,-0.6270,-0.6411,-0.2603,-0.6622,-0.8098,-0.6291,-0.6687,-0.5723,-0.8345,-0.2701,-0.7983,0.6102,0.3768,NaN,-0.6022,0.1676,-0.4976,-0.6021,0.0084,-0.8186,0.2099,0.9777,-0.1496,0.7179,-0.8067,0.2102,-0.7746,0.2100,-0.2603,-0.6298,0.2169,-0.4848,0.2099,-0.4580,0.9529,-0.1474,0.2103,-0.5131,0.2104
U.K. Pound Sterling,0.1087,0.5311,-0.9703,1.0000,-0.0423,0.6132,0.5792,-0.0422,0.6891,0.7318,0.3258,0.6708,0.7027,0.4912,0.5644,0.4866,0.7607,0.3147,0.8469,-0.4977,-0.4926,NaN,0.6233,0.1153,0.5865,0.5518,-0.1058,0.7289,-0.0421,-0.5503,0.3302,-0.3895,0.8667,-0.0425,0.7244,-0.0422,0.3258,0.6917,-0.0639,0.4396,-0.2741,0.4847,-0.8848,0.3792,-0.0425,0.5128,-0.0425
U.S. Dollar,0.2916,-0.2106,0.2103,-0.0423,1.0000,0.8220,0.6070,1.0000,0.5808,-0.3404,0.6451,-0.0253,0.4657,0.0634,-0.1828,0.4010,0.3673,0.8729,0.1643,0.2386,0.9022,NaN,0.4700,0.9466,0.4039,0.6417,0.3502,-0.4748,1.0000,0.9972,0.9636,0.2032,0.1244,1.0000,0.5212,1.0000,0.6451,0.5965,1.0000,-0.6718,-0.7345,0.4574,0.1355,-0.4819,1.0000,0.6658,1.0000
Algerian Dinar,0.8152,0.2600,-0.3881,0.6132,0.8220,1.0000,0.9085,0.8223,0.8834,0.4016,0.8519,0.2953,0.7749,0.4066,0.3117,0.5705,0.8376,0.9232,0.8537,-0.0631,0.6178,0.0,0.8930,0.8482,0.7407,0.8917,0.2462,0.0923,0.8224,0.9823,0.7268,0.1245,0.7835,0.8222,0.8853,0.8220,0.8519,0.9106,0.8725,-0.1580,-0.5619,0.9175,-0.3211,0.6001,0.8219,0.6013,0.8222
Australian Dollar,0.0780,0.3316,-0.5820,0.5792,0.6070,0.9085,1.0000,0.6073,0.9572,0.0720,0.6411,0.4223,0.7613,0.5322,0.3694,0.8110,0.8558,0.9215,0.6024,0.0058,0.7272,NaN,0.8241,0.7454,0.5735,0.9382,0.4292,0.1559,0.6074,-0.2506,0.5296,-0.1589,0.5921,0.6072,0.8552,0.6072,0.6411,0.9139,0.6878,-0.0675,-0.6516,0.7695,-0.5048,-0.6773,0.6071,0.7108,0.6071
Bahrain Dinar,0.2919,-0.2099,0.2100,-0.0422,1.0000,0.8223,0.6073,1.0000,0.5814,-0.3406,0.6451,-0.0252,0.4655,0.0640,-0.1821,0.4018,0.3673,0.8732,0.1645,0.2383,0.9024,NaN,0.4702,0.9464,0.4045,0.6418,0.3510,-0.4744,1.0000,0.9972,0.9636,0.2027,0.1248,1.0000,0.5212,1.0000,0.6451,0.5969,1.0000,-0.6712,-0.7346,0.4577,0.1354,-0.4827,1.0000,0.6660,1.0000
Botswana Pula,0.4677,0.4697,-0.6270,0.6891,0.5808,0.8834,0.9572,0.5814,1.0000,0.2208,0.6811,0.2931,0.6778,0.7280,0.5187,0.9372,0.7311,0.9308,0.8135,-0.5803,-0.1099,0.0,0.8071,0.7357,0.9349,0.9139,0.6499,0.3780,0.5814,-0.5253,0.5869,-0.7542,0.9194,0.5811,0.8753,0.5810,0.6811,0.9771,0.6712,-0.0682,-0.7080,0.7258,-0.5756,-0.3443,0.5809,0.8613,0.5812
Brazilian Real,0.3205,0.3836,-0.6411,0.7318,-0.3404,0.4016,0.0720,-0.3406,0.2208,1.0000,0.2911,0.4224,0.4611,0.2700,0.4128,-0.0299,0.3558,-0.0565,0.6143,-0.5285,-0.6918,NaN,0.4047,-0.1350,0.3001,0.1083,-0.4395,0.6623,-0.3405,-0.3654,0.0070,-0.1049,0.5489,-0.3409,0.3290,-0.3404,0.2911,0.2496,-0.3482,0.6046,0.1720,0.4482,-0.4491,0.9350,-0.3407,-0.0015,-0.3406
Brunei Dollar,0.4994,0.1038,-0.2603,0.3258,0.6451,0.8519,0.6411,0.6451,0.6811,0.2911,1.0000,-0.0398,0.6062,0.4034,0.1534,0.4456,0.5820,0.7982,0.5737,-0.4792,0.7019,NaN,0.7686,0.7558,0.5690,0.6325,0.2124,-0.0502,0.6451,0.2468,0.7389,-0.0493,0.4882,0.6449,0.6403,0.6451,1.0000,0.6894,0.6431,-0.2525,-0.5397,0.8884,-0.0231,0.0885,0.6449,0.8226,0.6449
Canadian Dollar,-0.1866,0.6384,-0.6622,0.6708,-0.0253,0.2953,0.4223,-0.0252,0.2931,0.4224,-0.0398,1.0000,0.4533,0.6336,0.6300,0.2252,0.5398,0.3043,0.5689,-0.0301,-0.1169,NaN,0.5532,0.0155,0.1955,0.4263,-0.2324,0.7764,-0.0249,-0.1749,0.1929,-0.1913,0.5102,-0.0252,0.4989,-0.0253,-0.0398,0.4237,-0.0305,0.5772,0.0487,-0.0688,-0.7354,0.2594,-0.0255,-0.0607,-0.0258
Chilean Peso,0.0288,0.2427,-0.8098,0.7027,0.4657,0.7749,0.7613,0.4655,0.6778,0.4611,0.6062,0.4533,1.0000,0.4196,0.2758,0.5002,0.9027,0.7511,0.6596,-0.1774,0.3046,NaN,0.7482,0.7794,0.4425,0.8923,-0.1172,0.2466,0.4656,0.0255,0.5828,0.1022,0.5672,0.4653,0.8760,0.4658,0.6062,0.7316,0.4655,0.2414,-0.4707,0.7350,-0.5766,-0.2533,0.4656,0.4976,0.4653
Czech Koruna,-0.0007,0.9521,-0.6291,0.4912,0.0634,0.4066,0.5322,0.0640,0.7280,0.2700,0.4034,0.6336,0.4196,1.0000,0.9537,0.8076,0.5922,0.6120,0.7161,-0.4879,0.2315,-0.0,0.6605,0.1555,0.5103,0.4831,0.1813,0.7331,0.0640,-0.6931,0.1227,-0.3123,0.6855,0.0638,0.5237,0.0634,0.4034,0.5884,0.0616,0.7707,0.1135,0.4865,-0.6184,0.2754,0.0634,0.8159,0.0634
Danish Krone,0.1901,0.9976,-0.6687,0.5644,-0.1828,0.3117,0.3694,-0.1821,0.5187,0.4128,0.1534,0.6300,0.2758,0.9537,1.0000,0.5341,0.4365,0.2824,0.6740,-0.5441,-0.0266,NaN,0.5060,-0.1564,0.4562,0.2797,0.1894,0.8510,-0.1821,-0.7748,-0.3622,-0.3364,0.6470,-0.1823,0.3779,-0.1829,0.1534,0.4314,-0.2074,0.7401,0.2329,0.4206,-0.6316,0.2504,-0.1829,0.0108,-0.1825
Hungarian Forint,0.0925,0.5004,-0.5723,0.4866,0.4010,0.5705,0.8110,0.4018,0.9372,-0.0299,0.4456,0.2252,0.5002,0.8076,0.5341,1.0000,0.6465,0.7547,0.5299,-0.4892,0.3589,NaN,0.6641,0.4244,0.7564,0.7268,0.6398,0.2925,0.4016,-0.6682,0.4189,-0.5039,0.6621,0.4015,0.6829,0.4014,0.4456,0.8035,0.4385,0.0362,-0.5795,0.6854,-0.5438,-0.9716,0.4013,0.8353,0.4017
Icelandic Krona,-0.0944,0.4096,-0.8345,0.7607,0.3673,0.8376,0.8558,0.3673,0.7311,0.3558,0.5820,0.5398,0.9027,0.5922,0.4365,0.6465,1.0000,0.8259,0.7378,-0.2215,0.2718,NaN,0.7649,0.7331,0.4254,0.9046,0.0287,0.3568,0.3675,-0.4374,0.5012,-0.0999,0.6690,0.3671,0.9184,0.3673,0.5820,0.7665,0.3773,0.1702,-0.4573,0.7201,-0.7506,-0.3096,0.3673,0.6830,0.3668
Indian Rupee,0.3041,0.2439,-0.2701,0.3147,0.8729,0.9232,0.9215,0.8732,0.9308,-0.0565,0.7982,0.3043,0.7511,0.6120,0.2824,0.7547,0.8259,1.0000,0.5182,-0.0748,0.9311,-0.0,0.8405,0.8359,0.6570,0.8977,0.4446,-0.0197,0.8732,0.9917,0.8778,-0.0574,0.4748,0.8731,0.7903,0.8731,0.7982,0.8976,0.8724,-0.1870,-0.6559,0.8681,-0.1869,-0.6180,0.8729,0.7585,0.8732
Israeli New Sheqel,0.4430,0.6433,-0.7983,0.8469,0.1643,0.8537,0.6024,0.1645,0.8135,0.6143,0.5737,0.5689,0.6596,0.7161,0.6740,0.5299,0.7378,0.5182,1.0000,-0.5595,-0.2102,NaN,0.7524,0.3742,0.6793,0.5481,-0.0236,0.5962,0.1646,-0.1727,0.5149,-0.1044,0.9439,0.1642,0.8415,0.1638,0.5737,0.7402,0.1726,0.3842,-0.1890,0.7431,-0.7503,0.6622,0.1639,0.6852,0.1641
Kazakhstani Tenge,-0.3493,-0.5223,0.6102,-0.4977,0.2386,-0.0631,0.0058,0.2383,-0.5803,-0.5285,-0.4792,-0.0301,-0.1774,-0.4879,-0.5441,-0.4892,-0.2215,-0.0748,-0.5595,1.0000,0.6266,0.0,-0.1045,0.1170,-0.6655,-0.0645,-0.1607,-0.6184,0.2386,0.9172,-0.1022,0.5105,-0.6931,0.2387,-0.1207,0.2386,-0.4792,-0.1871,0.2438,-0.3685,0.0400,-0.6955,0.4959,-0.9524,0.2389,-0.4845,0.2384
Kuwaiti Dinar,0.0511,-0.0296,0.3768,-0.4926,0.9022,0.6178,0.7272,0.9024,-0.1099,-0.6918,0.7019,-0.1169,0.3046,0.2315,-0.0266,0.3589,0.2718,0.9311,-0.2102,0.6266,1.0000,-0.0,0.6924,0.7836,-0.0505,0.6361,0.6332,-0.4963,0.9024,0.8082,1.0000,0.3395,-0.5508,0.9024,0.2881,0.9021,0.7019,0.6941,0.9025,-0.5031,-0.6569,0.0388,0.3963,-0.4483,0.9021,NaN,0.9021
Libyan Dinar,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,-0.0000,NaN,NaN,NaN,-0.0000,NaN,0.0000,-0.0000,NaN,0.0000,-0.0000,NaN,NaN,NaN,NaN,NaN,NaN,-0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,-0.0000,NaN
Malaysian Ringgit,0.2358,0.4629,-0.6022,0.6233,0.4700,0.8930,0.8241,0.4702,0.8071,0.4047,0.7686,0.5532,0.7482,0.6605,0.5060,0.6641,0.7649,0.8405,0.7524,-0.1045,0.6924,0.0,1.0000,0.5284,0.5902,0.7287,-0.0631,0.3507,0.4704,-0.2000,0.3992,-0.0835,0.6498,0.4701,0.7704,0.4703,0.7686,0.9135,0.4701,0.1519,-0.3273,0.7725,-0.4723,-0.8302,0.4704,0.3913,0.4700
Mauritian Rupee,0.2735,-0.1836,0.1676,0.1153,0.9466,0.8482,0.7454,0.9464,0.7357,-0.1350,0.7558,0.0155,0.7794,0.1555,-0.1564,0.4244,0.7331,0.8359,0.3742,0.1170,0.7836,-0.0,0.5284,1.0000,0.4213,0.8405,0.1867,-0.4110,0.9464,0.9703,0.9319,0.3393,0.2461,0.9464,0.8090,0.9465,0.7558,0.6701,0.9459,-0.5855,-0.6665,0.8425,0.0638,-0.3283,0.9463,0.9586,0.9464
Mexican Peso,0.5852,0.4062,-0.4976,0.5865,0.4039,0.7407,0.5735,0.4045,0.9349,0.3001,0.5690,0.1955,0.4425,0.5103,0.4562,0.7564,0.4254,0.6570,0.6793,-0.6655,-0.0505,NaN,0.5902,0.4213,1.0000,0.4874,0.4701,0.3453,0.4042,0.1843,0.7047,-0.4662,0.8208,0.4041,0.5708,0.4040,0.5690,0.8053,0.4324,0.0264,-0.5820,0.6354,-0.4346,-0.4036,0.4038,0.7743,0.4047
Nepalese Rupee,-0.0480,0.2477,-0.6021,0.5518,0.6417,0.8917,0.9382,0.6418,0.9139,0.1083,0.6325,0.4263,0.8923,0.4831,0.2797,0.7268,0.9046,0.8977,0.5481,-0.0645,0.6361,NaN,0.7287,0.8405,0.4874,1.0000,0.2797,0.1033,0.6419,-0.0305,0.6528,-0.0334,0.5024,0.6417,0.8632,0.6419,0.6325,0.8196,0.6625,-0.0352,-0.6526,0.8022,-0.4884,-0.5824,0.6417,0.7272,0.6416
New Zealand Dollar,0.1584,0.1693,0.0084,-0.1058,0.3502,0.2462,0.4292,0.3510,0.6499,-0.4395,0.2124,-0.2324,-0.1172,0.1813,0.1894,0.6398,0.0287,0.4446,-0.0236,-0.1607,0.6332,NaN,-0.0631,0.1867,0.4701,0.2797,1.0000,-0.0998,0.3507,0.0109,-0.0597,-0.4888,0.1237,0.3508,-0.0003,0.3504,0.2124,0.3567,0.3725,-0.3029,-0.4680,0.3217,0.1506,-0.6148,0.3500,0.3881,0.3511
Norwegian Krone,0.0113,0.8488,-0.8186,0.7289,-0.4748,0.0923,0.1559,-0.4744,0.3780,0.6623,-0.0502,0.7764,0.2466,0.7331,0.8510,0.2925,0.3568,-0.0197,0.5962,-0.6184,-0.4963,NaN,0.3507,-0.4110,0.3453,0.1033,-0.0998,1.0000,-0.4743,-0.8384,-0.3889,-0.4924,0.6176,-0.4746,0.2398,-0.4747,-0.0502,0.2773,-0.4896,0.8257,0.2723,0.1866,-0.7443,0.4636,-0.4749,-0.0509,-0.4747
Rial Omani,0.2917,-0.2099,0.2099,-0.0421,1.0000,0.8224,0.6074,1.0000,0.5814,-0.3405,0.6451,-0.0249,0.4656,0.0640,-0.1821,0.4016,0.3675,0.8732,0.1646,0.2386,0.9024,NaN,0.4704,0.9464,0.4042,0.6419,0.3507,-0.4743,1.0000,0.9972,0.9635,0.2029,0.1248,1.0000,0.5213,1.0000,0.6451,0.5969,1.0000,-0.6713,-0.7345,0.4576,0.1352,-0.4824,1.0000,0.6660,1.0000
Pakistani Rupee,0.8089,-0.7596,0.9777,-0.5503,0.9972,0.9823,-0.2506,0.9972,-0.5253,-0.3654,0.2468,-0.1749,0.0255,-0.6931,-0.7748,-0.6682,-0.4374,0.9917,-0.1727,0.9172,0.8082,NaN,-0.2000,0.9703,0.1843,-0.0305,0.0109,-0.8384,0.9972,1.0000,0.9817,0.7311,-0.5957,0.9972,0.0055,0.9972,0.2468,0.2303,0.9971,-0.8150,-0.1104,-0.1136,0.6866,0.4779,0.9973,-1.0000,0.9973
Nuevo Sol,0.6901,-0.4254,-0.1496,0.3302,0.9636,0.7268,0.5296,0.9636,0.5869,0.0070,0.7389,0.1929,0.5828,0.1227,-0.3622,0.4189,0.5012,0.8778,0.5149,-0.1022,1.0000,-0.0,0.3992,0.9319,0.7047,0.6528,-0.0597,-0.3889,0.9635,0.9817,1.0000,0.1254,0.5366,0.9635,0.6820,0.9635,0.7389,0.6398,0.9631,-0.8339,-0.7939,0.3220,-0.3014,1.0000,0.9635,0.8420,0.9635
Philippine Peso,0.1619,-0.3141,0.7179,-0.3895,0.2032,0.1245,-0.1589,0.2027,-0.7542,-0.1049,-0.0493,-0.1913,0.1022,-0.3123,-0.3364,-0.5039,-0.0999,-0.0574,-0.1044,0.5105,0.3395,NaN,-0.0835,0.3393,-0.4662,-0.0334,-0.4888,-0.4924,0.2029,0.7311,0.1254,1.0000,-0.4043,0.2028,0.1187,0.2025,-0.0493,-0.2609,0.2041,-0.0193,0.3423,-0.1821,0.3903,0.0550,0.2031,-0.5613,0.2027
Polish Zloty,0.4158,0.6097,-0.8067,0.8667,0.1244,0.7835,0.5921,0.1248,0.9194,0.5489,0.4882,0.5102,0.5672,0.6855,0.6470,0.6621,0.6690,0.4748,0.9439,-0.6931,-0.5508,NaN,0.6498,0.2461,0.8208,0.5024,0.1237,0.6176,0.1248,-0.5957,0.5366,-0.4043,1.0000,0.1245,0.7547,0.1242,0.4882,0.7774,0.1260,0.2838,-0.3272,0.6991,-0.7992,0.4997,0.1243,0.7963,0.1246
Qatar Riyal,0.2916,-0.2101,0.2102,-0.0425,1.0000,0.8222,0.6072,1.0000,0.5811,-0.3409,0.6449,-0.0252,0.4653,0.0638,-0.1823,0.4015,0.3671,0.8731,0.1642,0.2387,0.9024,NaN,0.4701,0.9464,0.4041,0.6417,0.3508,-0.4746,1.0000,0.9972,0.9635,0.2028,0.1245,1.0000,0.5210,1.0000,0.6449,0.5967,1.0000,-0.6714,-0.7345,0.4573,0.1354,-0.4827,1.0000,0.6657,1.0000
Russian Ruble,0.1841,0.3480,-0.7746,0.7244,0.5212,0.8853,0.8552,0.5212,0.8753,0.3290,0.6403,0.4989,0.8760,0.5237,0.3779,0.6829,0.9184,0.7903,0.8415,-0.1207,0.2881,NaN,0.7704,0.8090,0.5708,0.8632,-0.0003,0.2398,0.5213,0.0055,0.6820,0.1187,0.7547,0.5210,1.0000,0.5209,0.6403,0.8678,0.5768,0.0673,-0.4909,0.7717,-0.6722,-0.3260,0.5210,0.8082,0.5208
Saudi Arabian Riyal,0.2912,-0.2108,0.2100,-0.0422,1.0000,0.8220,0.6072,1.0000,0.5810,-0.3404,0.6451,-0.0253,0.4658,0.0634,-0.1829,0.4014,0.3673,0.8731,0.1638,0.2386,0.9021,NaN,0.4703,0.9465,0.4040,0.6419,0.3504,-0.4747,1.0000,0.9972,0.9635,0.2025,0.1242,1.0000,0.5209,1.0000,0.6451,0.5967,1.0000,-0.6716,-0.7350,0.4573,0.1355,-0.4830,1.0000,0.6654,1.0000
Singapore Dollar,0.4994,0.1038,-0.2603,0.3258,0.6451,0.8519,0.6411,0.6451,0.6811,0.2911,1.0000,-0.0398,0.6062,0.4034,0.1534,0.4456,0.5820,0.7982,0.5737,-0.4792,0.7019,NaN,0.7686,0.7558,0.5690,0.6325,0.2124,-0.0502,0.6451,0.2468,0.7389,-0.0493,0.4882,0.6449,0.6403,0.6451,1.0000,0.6894,0.6431,-0.2525,-0.5397,0.8884,-0.0231,0.0885,0.6449,0.8226,0.6449
South African Rand,0.3569,0.3822,-0.6298,0.6917,0.5965,0.9106,0.9139,0.5969,0.9771,0.2496,0.6894,0.4237,0.7316,0.5884,0.4314,0.8035,0.7665,0.8976,0.7402,-0.1871,0.6941,NaN,0.9135,0.6701,0.8053,0.8196,0.3567,0.2773,0.5969,0.2303,0.6398,-0.2609,0.7774,0.5967,0.8678,0.5967,0.6894,1.0000,0.6688,-0.0263,-0.6704,0.7344,-0.5456,-0.6816,0.5966,0.7319,0.5968
Sri Lanka Rupee,0.2961,-0.2340,0.2169,-0.0639,1.0000,0.8725,0.6878,1.0000,0.6712,-0.3482,0.6431,-0.0305,0.4655,0.0616,-0.2074,0.4385,0.3773,0.8724,0.1726,0.2438,0.9025,NaN,0.4701,0.9459,0.4324,0.6625,0.3725,-0.4896,1.0000,0.9971,0.9631,0.2041,0.1260,1.0000,0.5768,1.0000,0.6431,0.6688,1.0000,-0.6726,-0.7383,0.4771,0.1606,-0.4822,1.0000,0.8047,1.0000
Swedish Krona,-0.0448,0.7566,-0.4848,0.4396,-0.6718,-0.1580,-0.0675,-0.6712,-0.0682,0.6046,-0.2525,0.5772,0.2414,0.7707,0.7401,0.0362,0.1702,-0.1870,0.3842,-0.3685,-0.5031,NaN,0.1519,-0.5855,0.0264,-0.0352,-0.3029,0.8257,-0.6713,-0.8150,-0.8339,-0.0193,0.2838,-0.6714,0.0673,-0.6716,-0.2525,-0.0263,-0.6726,1.0000,0.6408,-0.0182,-0.4327,0.2920,-0.6717,-0.5942,-0.6713
Swiss Franc,-0.0694,0.2775,0.2099,-0.2741,-0.7345,-0.5619,-0.6516,-0.7346,-0.7080,0.1720,-0.5397,0.0487,-0.4707,0.1135,0.2329,-0.5795,-0.4573,-0.6559,-0.1890,0.0400,-0.6569,NaN,-0.3273,-0.6665,-0.5820,-0.6526,-0.4680,0.2723,-0.7345,-0.1104,-0.7939,0.3423,-0.3272,-0.7345,-0.4909,-0.7350,-0.5397,-0.6704,-0.7383,0.6408,1.0000,-0.3928,0.1377,0.5747,-0.7346,-0.7949,-0.7347
Thai Baht,0.5851,0.3703,-0.4580,0.4847,0.4574,0.9175,0.7695,0.4577,0.7258,0.4482,0.8884,-0.0688,0.7350,0.4865,0.4206,0.6854,0.7201,0.8681,0.7431,-0.6955,0.0388,0.0,0.7725,0.8425,0.6354,0.8022,0.3217,0.1866,0.4576,-0.1136,0.3220,-0.1821,0.6991,0.4573,0.7717,0.4573,0.8884,0.7344,0.4771,-0.0182,-0.3928,1.0000,-0.3203,-0.0402,0.4576,0.6850,0.4574
Trinidad And Tobago Dollar,0.2159,-0.6215,0.9529,-0.8848,0.1355,-0.3211,-0.5048,0.1354,-0.5756,-0.4491,-0.0231,-0.7354,-0.5766,-0.6184,-0.6316,-0.5438,-0.7506,-0.1869,-0.7503,0.4959,0.3963,NaN,-0.4723,0.0638,-0.4346,-0.4884,0.1506,-0.7443,0.1352,0.6866,-0.3014,0.3903,-0.7992,0.1354,-0.6722,0.1355,-0.0231,-0.5456,0.1606,-0.4327,0.1377,-0.3203,1.0000,-0.0772,0.1354,-0.6995,0.1358
Tunisian Dinar,0.5429,0.2570,-0.1474,0.3792,-0.4819,0.6001,-0.6773,-0.4827,-0.3443,0.9350,0.0885,0.2594,-0.2533,0.2754,0.2504,-0.9716,-0.3096,-0.6180,0.6622,-0.9524,-0.4483,NaN,-0.8302,-0.3283,-0.4036,-0.5824,-0.6148,0.4636,-0.4824,0.4779,1.0000,0.0550,0.4997,-0.4827,-0.3260,-0.4830,0.0885,-0.6816,-0.4822,0.2920,0.5747,-0.0402,-0.0772,1.0000,-0.4832,NaN,-0.4833
U.A.E. Dirham,0.2913,-0.2108,0.2103,-0.0425,1.0000,0.8219,0.6071,1.0000,0.5809,-0.3407,0.6449,-0.0255,0.4656,0.0634,-0.1829,0.4013,0.3673,0.8729,0.1639,0.2389,0.9021,NaN,0.4704,0.9463,0.4038,0.6417,0.3500,-0.4749,1.0000,0.9973,0.9635,0.2031,0.1243,1.0000,0.5210,1.0000,0.6449,0.5966,1.0000,-0.6717,-0.7346,0.4576,0.1354,-0.4832,1.0000,0.6656,1.0000
Peso Uruguayo,0.4216,-0.0479,-0.5131,0.5128,0.6658,0.6013,0.7108,0.6660,0.8613,-0.0015,0.8226,-0.0607,0.4976,0.8159,0.0108,0.8353,0.6830,0.7585,0.6852,-0.4845,NaN,-0.0,0.3913,0.9586,0.7743,0.7272,0.3881,-0.0509,0.6660,-1.0000,0.8420,-0.5613,0.7963,0.6657,0.8082,0.6654,0.8226,0.7319,0.8047,-0.5942,-0.7949,0.6850,-0.6995,NaN,0.6656,1.0000,0.6655
Bolivar Fuerte,0.2922,-0.2104,0.2104,-0.0425,1.0000,0.8222,0.6071,1.0000,0.5812,-0.3406,0.6449,-0.0258,0.4653,0.0634,-0.1825,0.4017,0.3668,0.8732,0.1641,0.2384,0.9021,NaN,0.4700,0.9464,0.4047,0.6416,0.3511,-0.4747,1.0000,0.9973,0.9635,0.2027,0.1246,1.0000,0.5208,1.0000,0.6449,0.5968,1.0000,-0.6713,-0.7347,0.4574,0.1358,-0.4833,1.0000,0.6655,1.0000

In [73]:
df = pd.read_csv("nas.csv")
#df.head()
#df.info()

In [58]:
df1=df[df['Mother.edu'] == 'Illiterate']
df1.head()
df1.groupby(df['Siblings'])['Siblings'].count()

Siblings
1 sibling       533
2 siblings      923
3 siblings      532
4+ siblings     469
Single child     88
Name: Siblings, dtype: int64

In [71]:
#print(df)
df1=df[df['Age'] != '11- years']
#df1.info()
df1.groupby(['Father.edu','Age'])['Science..'].mean()

Father.edu      Age
Degree & above  12 years     46.752857
                13 years     44.805143
                14 years     42.676944
                15 years     29.090000
                16+ years    32.730000
Illiterate      12 years     29.870000
                13 years     33.758968
                14 years     35.319478
                15 years     33.413333
                16+ years    33.116786
Primary         12 years     34.121667
                13 years     37.617555
                14 years     36.700267
                15 years     35.162768
                16+ years    32.364000
Secondary       12 years     33.593810
                13 years     38.164402
                14 years     36.738859
                15 years     32.872800
                16+ years    30.960000
Sr secondary    12 years     40.113750
                13 years     39.046503
                14 years     39.050278
                15 years     38.615714
                16+ years    31.513333
Name: Science.., dtype: float64

In [70]:
#

In [125]:
df = pd.read_csv("odi-batting.csv")
#df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57

In [135]:
#df1=df[df['Age'] != '11- years']
df['centuries'] = df['Runs'].apply(lambda x : x > 99)
df.info()
df = df[df['centuries']==True]
df['strikerate'] = df['Runs']/df['Balls']
df['date'],df['month'],df['year'] = df['MatchDate'].str.split('-', 2).str
df = df[df['Country'] == 'India']
df.groupby(df['year'])['centuries'].count().sort_values(ascending=False)
#df.groupby(df['Player'])['strikerate'].max().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190 entries, 13601 to 18636
Data columns (total 13 columns):
Country       190 non-null object
Player        190 non-null object
Runs          190 non-null int64
MatchDate     190 non-null object
Weekday       190 non-null object
Ground        190 non-null object
Versus        190 non-null object
Balls         190 non-null int64
centuries     190 non-null bool
strikerate    190 non-null float64
date          190 non-null object
month         190 non-null object
year          190 non-null object
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 19.5+ KB

year
1998    18
1999    15
2009    13
2010    12
2005    11
2008    10
2003    10
2000    10
2002     9
2001     9
2011     8
1996     8
1994     7
1997     7
2004     7
2006     5
2007     5
1988     5
1987     4
1990     3
1984     3
1993     2
1991     2
1989     2
1986     2
1995     1
1992     1
1983     1
Name: centuries, dtype: int64

In [139]:
df = pd.read_csv("grades.csv")
df.head()

                                          submission        submit_time
0  https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...  01/03/17-20:28:52
1  https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...  01/03/17-20:18:21
2  https://ckd.upgrad.com/UpGrad/a353d129-c100-43...  01/03/17-22:37:08
3  https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...  01/02/17-21:43:19
4  https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...  01/03/17-15:27:49

In [145]:
df['submit_time'] = pd.to_datetime(df['submit_time'])
df['date']=df['submit_time'].dt.date
df['day']=df['submit_time'].dt.day
df['month']=df['submit_time'].dt.month
df['year']=df['submit_time'].dt.year
df['hour']=df['submit_time'].dt.hour
df['mins']=df['submit_time'].dt.minute
df.head()

,submission,submit_time,date,day,month,year,hour,mins
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,2017-01-03,3,1,2017,20,28
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,2017-01-03,3,1,2017,20,18
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,2017-01-03,3,1,2017,22,37
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2017-01-02,2,1,2017,21,43
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,2017-01-03,3,1,2017,15,27

In [148]:
df['zip'] = df['submission'].str.endswith('zip', na=False)

In [152]:
df.groupby(['zip']).count()

       submission  submit_time  date  day  month  year  hour  mins
zip
False           9            9     9    9      9     9     9     9
True          189          189   189  189    189   189   189   189

In [153]:
df = df.sort_values(['day'], ascending=False)
df.head()

,submission,submit_time,date,day,month,year,hour,mins,zip
140,https://ckd.upgrad.com/UpGrad/49ca0843-7adf-4a...,2016-12-31 00:27:21,2016-12-31,31,12,2016,0,27,True
181,https://ckd.upgrad.com/UpGrad/63ffc96d-c821-43...,2016-12-30 19:44:32,2016-12-30,30,12,2016,19,44,True
80,https://ckd.upgrad.com/UpGrad/777ab058-624f-49...,2016-12-30 23:11:10,2016-12-30,30,12,2016,23,11,True
143,https://ckd.upgrad.com/UpGrad/2723251a-a72d-43...,2016-12-30 17:34:34,2016-12-30,30,12,2016,17,34,True
102,https://ckd.upgrad.com/UpGrad/d1f742cb-adbc-48...,2016-12-30 00:21:55,2016-12-30,30,12,2016,0,21,True

In [161]:
df.groupby(['year','month','day']).count()

                submission  submit_time  date  hour  mins  zip
year month day
2016 11    19            1            1     1     1     1    1
     12    19            1            1     1     1     1    1
           21            1            1     1     1     1    1
           28            2            2     2     2     2    2
           29            2            2     2     2     2    2
           30            6            6     6     6     6    6
           31            1            1     1     1     1    1
2017 1     1             6            6     6     6     6    6
           2            14           14    14    14    14   14
           3           120          120   120   120   120  120
           4            12           12    12    12    12   12
           6             1            1     1     1     1    1
           7             2            2     2     2     2    2
           8             3            3     3     3     3    3
           9            21           21    21    21    21   21
           10            3            3     3     3     3    3
           17            1            1     1     1     1    1
     2     3             1            1     1     1     1    1

In [162]:
df.groupby(['hour']).count()

      submission  submit_time  date  day  month  year  mins  zip
hour
0             10           10    10   10     10    10    10   10
1              8            8     8    8      8     8     8    8
2              2            2     2    2      2     2     2    2
3              3            3     3    3      3     3     3    3
4              2            2     2    2      2     2     2    2
6              1            1     1    1      1     1     1    1
8              1            1     1    1      1     1     1    1
9              1            1     1    1      1     1     1    1
10             3            3     3    3      3     3     3    3
11             1            1     1    1      1     1     1    1
12             3            3     3    3      3     3     3    3
13             6            6     6    6      6     6     6    6
14             6            6     6    6      6     6     6    6
15             4            4     4    4      4     4     4    4
16             2            2     2    2      2     2     2    2
17             4            4     4    4      4     4     4    4
18             6            6     6    6      6     6     6    6
19             2            2     2    2      2     2     2    2
20            16           16    16   16     16    16    16   16
21            27           27    27   27     27    27    27   27
22            24           24    24   24     24    24    24   24
23            66           66    66   66     66    66    66   66