In [14]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],index=pd.date_range('1/1/2000', periods=10))
df

                   A         B         C
2000-01-01 -0.722563  0.096288  0.726622
2000-01-02  0.688960  0.924950 -0.600938
2000-01-03 -0.675692 -0.348326 -2.051244
2000-01-04 -0.204307 -0.411421  0.005817
2000-01-05  0.036859  0.542913  0.428608
2000-01-06  0.027706  0.446228  1.426901
2000-01-07  1.720884  1.098980 -0.065701
2000-01-08 -0.480275  1.593451 -1.368477
2000-01-09  0.679204  0.751908 -0.773721
2000-01-10 -0.097530  0.542585  0.043070